.char-page {
  margin: 2rem 10% 2rem 10%;
  background-color: rgb(15, 25, 36);
  border: 1px solid grey;
  padding: 2rem 0 1rem 0;
  border-radius: 10rem;
  row-gap: 2rem;

  display: grid;
  grid-template:
    "creator creator" auto
    "img details" auto
    "stats stats" auto
    "buttons buttons" auto
    / 1.5fr 1fr;
  justify-items: center;
  align-items: center;
}

.char-image {
  grid-area: img;
}
.char-image > img {
  height: 500px;
}

.details {
  align-items: center;
  justify-content: center;

  justify-self: start;
}

.stats {
  grid-area: stats;
  gap: 0.5rem 3rem;

  display: grid;
  grid-template:
    "header header header" auto
    ". . ." auto
    ". . ." auto
    / 1fr 1fr 1fr;
}

.stats > h1 {
  grid-area: header;
}

.stat-bubble {
  border: 1px solid grey;
  padding: 0 1rem 0 1rem;
  border-radius: 1rem;
  background-color: rgb(16, 20, 24);
}

.stat-bubble p {
  border: 1px solid grey;
  width: 5rem;
  background-color: rgb(15, 25, 36);
}

.show-buttons {
  margin: 2rem 0 1rem 0;
  grid-area: buttons;
}

.creator-info {
  grid-area: creator;
  margin: 0 0 1rem 0;
}
