header {
    background-color: rgb(16, 20, 24);
}

header h1 {
    color: white;
}

.Nav {
    background-color: rgb(15, 25, 36);
    padding: .5rem 5% .5rem 5%;
    display: flex;
    gap: 20px;
}

.nav-end {
    margin-left: auto;
}